@import "tailwindcss";

@font-face {
  font-family: 'MontserratExtraBold';
  src: url('/src/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  letter-spacing: -5px;
}
@font-face {
  font-family: 'DMSansSemiBold';
  src: url('/src/assets/fonts/DMSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Sublima';
  src: url('/src/assets/fonts/Sublima-ExtraBold.otf') format('opentype');
}
@font-face {
  font-family: 'SpaceMonoRegular';
  src: url('/src/assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

:root {
  --font-header: 'MontserratExtraBold', monospace;
  --font-header-section: 'SpaceMonoRegular', monospace;
  --font-text: 'DMSansSemiBold', monospace;
  --font-alt: 'SpaceMonoRegular', monospace;

  --font-header1-size: 140px;
  --font-header2-size: 68px;
  --font-text-size: 56px;
  --font-medium-text-size: 38px;
  --font-small-text-size: 24px;
  --font-alt-size: 16px;

  --leading-header1-size: 110px;
  --leading-header2-size: 64px;
  --leading-text-size: 72px;
  --leading-medium-text-size: 52px;
  --leading-small-text-size: 34px;

  --black: #000;
  --white: #FFF;
  --light-grey: #C7C7C7;
}

html {
  scroll-behavior: smooth;
}

.word {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.word.show {
  opacity: 1;
  transform: translateY(0);
}